
@{
    ViewData["Title"] = "Nike";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Distribuidor Nike</h1>
       <p style="text-align:justify;">Nike, Inc.nota 1​ (del griego: Νίκη, Niké, victoria5​) es una empresa multinacional estadounidense dedicada al diseño, desarrollo, fabricación y comercialización de equipamiento deportivo: balones, calzado, ropa, equipo, accesorios y otros artículos deportivos.6​

Es uno de los mayores proveedores de material deportivo del mundo solamente detrás de Adidas,7​ y en 2024 empleaba a 83 700 personas en todo el mundo.8​ Anteriormente, en 2017, Nike fue valorada en 29.600 millones de dólares.9​mientras que en 2020, la marca en sí estaba valorada en más de 32 mil millones de dólares estadounidenses, lo que la convierte en la marca más valiosa entre las empresas deportivas.10​ Nike ocupó el puesto 89 en la lista Fortune 500 de 2018 de las corporaciones más grandes de Estados Unidos por ingresos totales.11​ La compañía también ocupó el puesto 239 en la lista Forbes Global 2000 de empresas en 2024.

La empresa fue fundada el 25 de enero de 1964 como "Blue Ribbons Sports" por Phil Knight y Bill Bowerman,12​13​ y se convirtió oficialmente en Nike Inc., el 30 de mayo de 1971. Nike comercializa sus productos bajo su propia marca, así como bajo Nike Golf, Nike Pro, Nike+, Air Jordan, Nike Skateboarding, Hurley International y Converse, Nike CR7,14​ entre otras. Nike también fue dueño de Bauer Hockey (Nike Bauer) entre 1995 y 2008, y anteriormente propiedad de Cole Haan y Umbro.15​ Además de la ropa deportiva y el equipo de fabricación, la compañía es dueña de las tiendas Niketown. Nike es patrocinador de muchos atletas de alto nivel y equipos deportivos de todo el mundo, con el famoso eslogan «Just do it.» («Solo hazlo»), y el logo, llamado Swoosh, creado por la diseñadora gráfica Carolyn Davidson, esquematización de un ala de Niké, diosa de la mitología griega que da nombre a la marca.16​</p>



<iframe width="560" height="315" src="https://www.youtube.com/embed/jOOpoF4nzl0?si=-LOhYxScyaAJABAX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</div>