@{
    ViewData["Title"] = "Umbro";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Distribuidor Umbro</h1>

    <p style="text-align:justify;">
        Umbro es un fabricante inglés de equipamiento deportivo fundado en 1924 en Wilmslow , Cheshire, y con sede en Manchester . Se especializa en ropa deportiva de fútbol y rugby con su logotipo Double Diamond . Los productos Umbro se comercializan en más de 100 países. [ 1 ]

        El negocio fue fundado por los hermanos Harold y Wallace Humphreys. El nombre es una combinación de um , de Humphreys, y bro , de brothers. [ 2 ]

        Desde 2012, la marca es una subsidiaria de la empresa estadounidense de gestión de marcas Iconix Brand Group .
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/NmV4-8WOe6s?si=dzFxT-pCgkdxx8kT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
